<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
 <appSettings>
      <add key="x-max-length" value="1000"/>
      <add key="x-message-ttl" value="20000"/>
      <add key="x-expires" value="1800000"/>

      <add key="RabbitMQ_exchangeName" value="exchangeName" />
       <add key="RabbitMQ_queueName" value="queueName" />  
      <add key="RabbitMQ_UserName" value="guest" />
      <add key="RabbitMQ_Password" value="guest" />
      <add key="RabbitMQ_Port" value="80" />
      <add key="RabbitMQ_Host" value="localhost" />
    </appSettings>
 </configuration>
